body{
  width: 100%;
  font-size: 1.1em;
}
table{
  margin: auto;
  max-width: 900px;
  border-collapse:collapse;
}
.title{
  text-align: center;
}
tr{
  border: 1px solid black;
}
td{
  border-right: 1px solid black;
  width: 150px;
  height: 40px;
  text-align: center;
}
td input{
  width: 140px;
  height: 40px;
  border: none;
  padding: 0 5px;
  text-align: left;
}
textarea{
  width: 450px;
  height: 100px;
  border: none;
  padding: 5px;
  margin-bottom: -5px;
}
.small textarea{
  width: 140px;
  height: 100px;
  border: none;
  padding: 5px;
}
.title, .no-border{
  border: none;
}
.title td, .no-border td{
  border: none;
}
